body{
    font-family: 'Poppins', sans-serif;
}
.Maxlife{
    border: 2px solid rgb(187, 184, 184);;
    display: flex;
}
.max-logo{
    width:30%;
    
    
}
.logo-heading{
    color: rgb(68, 67, 67);
    
    margin-left: 20px;

}
.outer-div{
    /* border:2px solid green; */
}
.container-1{
    /* border: 2px solid blue; */
    /* background-color: rgb(156, 97, 8); */
    display: flex;
    gap: 20px;
    padding:10px;
    /* border: 1px solid brown; */
}
.side-bar{
/* border: 1px solid red;; */
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
margin-left: 30px;
}
.side-bar-top{
    /* background-color: rgb(18, 94, 94);
     */
    
}

.certificate-img{
   
    /* border: 1px solid red;; */

   
    width:400px;
}
.certificate-img>img{
    width:100%;
}
.three-box>div>img{
    margin-top: 10px;;
    /* border: 1px solid red; */
}
.side-bar-bottom{
  /* border:1px solid green; */
  width: 400px;
  padding:20px 20px;
  margin: 20px 30px;
} 
.side-bar-bottom>p{
    /* border:1px solid blue; */
    width:82%;
    text-align: left;
    margin-left: 10px;
   

}
.three-box{
  display:flex;
  gap: 3px;
  
}
.first{
    border:1px solid rgb(190, 184, 184);
}
.second{
    border:1px solid rgb(187, 182, 182);
}
.third{
    border:1px solid rgb(202, 200, 200);
}

.right-side-detail{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     padding: 20px;
     /* background-color: bisque; */
     width:60%
     /* border: 1px solid red;; */

}
.right-side-detail>div{
   margin-left: 86px;

   
    text-align: left;
    color: rgb(63, 62, 62);
    font-weight: bold;
    font-size: medium

}
.detail-heading{
    display: flex;
    gap: 40px;
    font-size: large;
     
     /* grid-template-columns: 33% 33% 33%; */
    
     /* border: 1px solid red; */
   
}
.detail-heading>p{
    /* border: 1px solid red; */
   color:black;

   font-size: large;
   
}
.detail-heading>span>p{
    color: rgb(109, 108, 108);
    font-size: large;
}
.first-box-1{
    border:1px solid rgb(204, 200, 200);
    width:90%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding:10px;
    margin-bottom: 20px;;
    
}
.top-first{
    /* border:1px solid blue; */
    display:flex;
    gap:20px;
    
    
}
.top-first>h3{
    /* border:1px solid blue; */
}
.additional-1{
    border-top:1px solid rgb(197, 194, 194);
    display:flex;
    gap:400px;
}
.top-first>div>p{
    /* border:1px solid red; */
    background-color: rgb(47, 129, 223);
    color:white;
    font-size: 14px;;
    margin-top: 20px;;
    padding:5px;
    font-weight: lighter;
    font-family: sans-serif;
}
.add-button{
    /* border:1px solid pink; */
    padding:10px;
    margin-left: 200px;;
    width:100px;
}
.add-button>button{
    width:70%;
    height:30px;
    border-radius: 5px;;
    color:rgb(59, 147, 230);
    border:1px solid rgb(78, 158, 223)
}



.proceed{
    width:200px;
    height: 100px;
    /* border: 1px solid red; */
   padding: 20px 20px 20px 0px;
   margin-top: 30px;
}
.proceed>button{
    width: 100%;
    height:100%;
    background-color: orangered;
    color: white;
    font-size: 20px;
    border-radius: 5px;
   
    
}
.proceed>button:hover{
    font-size: 24px;
    border: 1px solid balck;
}
.proceed>button>a{
    text-decoration: none;
    color: white;
    
}
.proceed>button>span{
    margin-left: 5px;
}

.options{
    width:80%;
    height:40px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.container-2{
/* border: 1px solid blue; */
}
.cont-2-heading{
    /* border: 1px solid green; */
    padding:50px 20px;
    color: rgb(45, 45, 100);
}
.left-right{
    display: flex;
    gap: 40px;
    padding:20px 30px;
   
}
.left{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    width: 49%;
    border: 1px solid rgb(179, 197, 236);
    display: flex;
    /* background-color: aquamarine; */

}
.left-img{
    width: 28%;
    /* border: 1px solid black; */
    
}
.left-img>img{
    /* border: 1px solid red; */
    padding:60px;
    width: 40px;
}
.right{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 20px;
    width: 49%;
    border: 1px solid rgb(179, 197, 236);
    display: flex;
    /* background-color: aquamarine; */

}
.right-img{
    width: 28%;
    /* border: 1px solid black; */
    
}
.right-img>img{
    /* border: 1px solid red; */
    padding:60px;
    width: 40px;
}
.left-desc>p{
    text-align: left;
    /* border: 1px solid red; */
    font-weight: bolder;
    color: lightslategray;
}
.left-desc>h4{
    text-align: left;
    /* border: 1px solid red; */
}
.right-desc>p{
    text-align: left;
    /* border: 1px solid red; */
    font-weight: bolder;
    color: lightslategray;
}
.right-desc>h4{
    text-align: left;
    /* border: 1px solid red; */
}

.container-3{
    /* border: 1px solid red; */
    padding: 60px 50px 30px;
}
.heading2{
 padding:20px 30px;
 color: rgb(45, 45, 100);
}
.outer-box{
/* border: 1px solid rgb(34, 0, 128); */
display: grid;
gap: 20px;

grid-template-columns: 33% 33% 33%;
grid-template-rows: 96%;
}
.first-box{
   
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    padding: 30px;
    border: 1px solid rgb(179, 197, 236);
    gap: 10px;
}
.img-1{
/* border: 1px solid red; */
width: 28%;
padding:30px;
margin-top: -20px;
}
.desc-left{
    /* border:1px solid red; */
    margin-top: -20px;
    text-align: left;
    color: rgb(71, 71, 100);

}

.second-box{
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    padding: 30px;
    border: 1px solid rgb(179, 197, 236);
    gap: 10px;
}
.img-2{
    width: 28%;
    padding:30px;
    margin-top: 10px;
}
.desc-mid{
    margin-top: -20px;
    text-align: left;
    color: rgb(71, 71, 100);


}
.desc-mid>span{
    font-size: 12px;
}

.third-box{
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    padding: 30px;
    border: 1px solid rgb(179, 197, 236);
    gap: 10px;
}
.img-3{

    width: 28%;
    padding:30px;
    margin-top: 30px;
}
.desc-right{
    margin-top: -20px;
    text-align: left;
    color: rgb(71, 71, 100);

}
.desc-right>span{
    font-size: 12px;
    color: rgb(71, 71, 100);
}

.container-4{
    border-bottom:1px solid rgb(196, 194, 194);
    padding: 40px;
}
.heading-3{
    border-top: 1px solid rgb(159, 198, 243);
    border-left: 1px solid rgb(159, 198, 243);;
    border-right: 1px solid rgb(159, 198, 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;
    text-align: left;
    color: rgb(45, 45, 100);
}
.outer-last-div{
    border-left: 1px solid rgb(159, 198, 243);
    border-right: 1px solid rgb(159, 198, 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-bottom: 1px solid rgb(159, 198, 243);
    padding: 20px;
    display: grid;
   
   grid-template-columns: 33% 33% 33%;
    /* background-color: rgb(30, 139, 139); */
}
.left-2{
    display: flex;;
    
    /* border: 1px solid red;; */
}
.img-div-first{
    width:28%;
    margin-top: 55px;
    /* border: 1px solid red;; */

}
.cont-div-first{
    text-align: left;
    margin-top:25px;
    color: rgb(71, 71, 100);
    /* border: 1px solid red; */

}
.mid2{

    display: flex;;
    padding:20px;
    /* border: 1px solid red;; */
}
.img-div-second{
    width:28%;
    margin-top: 55px;
    /* border: 1px solid red;; */

}
.cont-div-second{
    text-align: left;
    color: rgb(71, 71, 100);

    /* border: 1px solid red; */
}
.right2{
    display: flex;;
    padding:20px;
    /* border: 1px solid red;; */
}
.img-div-last{
    /* border: 1px solid red;; */
    width:28%;
    margin-top: 55px;
}
.cont-div-last{
    /* border: 1px solid red; */
    text-align: left;
    color: rgb(71, 71, 100);
}
.description{
    /* background-color: blueviolet; */
    padding:10px;
    margin-top: -20px;;
    /* border: 1px solid red;; */

}
.description>p{
    /* width:fit-content; */
    font-size: 19px;;
    text-align: left;
    margin-bottom: 60px;;
}
.footer-last{
    padding:30px;
    
    /* border: 1px solid blue; */
    
    /* background-color: aquamarine; */
}
.footer-last>p{
    /* border: 1px solid green; */
    font-size: 12px;
    line-height: 24px;
    color: rgb(27, 27, 56);
}